/* PR CODE CRAFT VARIABLES */
:root {
  --color-indigo-100: #1e2340;
  --color-indigo-80: #484b62;
  --color-indigo-60: #737484;
  --color-indigo-40: #9e9da7;
  --color-indigo-20: #c9c6c9;

  --color-white: #ffffff;
  --color-white-100: #c9c6c9;
  --color-white-80: #f5f5f0;
  --color-white-60: #f5f3ef;
  --color-white-40: #f4f2ee;
  --color-white-20: #f4f0ed;

  --color-light-blue-intense: #688eb7;
  --color-light-blue: #7c9cb5;
  --color-light-blue-lighter: #bbd9ef;
  --color-light-blue-lighter-plus: #f0f4fc;
  --color-light-blue-100: #a5b5c4;
  --color-light-blue-80: #b4c0cc;
  --color-light-blue-60: #c4ccd4;
  --color-light-blue-40: #d4d7dc;
  --color-light-blue-20: #e4e3e4;

  --color-gray-100: #d9d8de;
  --color-gray-80: #dedce0;
  --color-gray-60: #e3e1e3;
  --color-gray-40: #e9e5e6;
  --color-gray-20: #eeeae9;

  --color-blue-100: #3d4f6d;
  --color-blue-80: #3d4f6d;
  --color-blue-60: #616f86;
  --color-blue-40: #aaafb9;
  --color-blue-20: #cfcfd2;


 
 
}
@font-face {
  font-family: AkiraExpandedDemo;
  src: url('../assets/fonts/AkiraExpandedDemo.otf') format('opentype');
}
@font-face {
  font-family: Mundial;
  src: url('../assets/fonts/Mundial.otf') format('opentype');
}
@font-face {
  font-family: MundialLight;
  src: url('../assets/fonts/MundialLight.otf') format('opentype');
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main footer {
  margin-top: auto;
}